//Imports
@import "wordpress";
@import "../components/Modal/stylesheet";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

#nfd-installer {
	display: none;
	transition: all 3s ease-in-out;
}
