name: "JS Lint Checker: Installer Module"
on:
  workflow_dispatch:
  push:
    paths:
      - "src/**/*.js"
      - "src/**/*.scss"
  pull_request:
    types: [opened, edited, reopened, ready_for_review]
    paths:
      - "src/**/*.js"
      - "src/**/*.scss"

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  lint-check-spa:
    name: Run Lint Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # Install Node and npm
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      
      # Checks if node_modules exists in the cache.
      - name: Cache node_modules directory
        id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-
      
      - name: Setup Registry
        run: printf "@newfold-labs:registry=https://npm.pkg.github.com/\n//npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
        if: steps.cache.outputs.cache-hit != 'true'

      # Installs @wordpress/scripts for lint checks if it does not exist in the cache.
      - name: Install dependencies
        run: npm i @wordpress/scripts@26.10.0 --legacy-peer-deps
        if: steps.cache.outputs.cache-hit != 'true'

      # Gets the files changed wrt to trunk and filters out the js files.
      - uses: technote-space/get-diff-action@f27caffdd0fb9b13f4fc191c016bb4e0632844af # v6.1.2
        with:
          PATTERNS: |
            +(src)/**/*.js

      # Runs wp-scripts for checking JS coding issues.
      - name: Run JS Lint
        id: js-lint
        run: npx wp-scripts lint-js ${{ env.GIT_DIFF }}
        if: "!! env.GIT_DIFF"

      # Gets the files changed wrt to trunk and filters out the SASS files.
      - uses: technote-space/get-diff-action@f27caffdd0fb9b13f4fc191c016bb4e0632844af # v6.1.2
        with:
          PATTERNS: |
            +(src)/**/*.scss
        if: ${{ success() || steps.js-lint.conclusion == 'failure' }}

      # Runs wp-scripts for checking SASS coding issues.
      - name: Run SASS Lint
        id: sass-lint
        run: npx wp-scripts lint-style ${{ env.GIT_DIFF }}
        if: ${{ (!! env.GIT_DIFF) && (success() || steps.js-lint.conclusion == 'failure') }}
